# Core libraries
pandas==1.5.3
numpy==1.23.5
matplotlib==3.7.1
seaborn==0.12.2
os-sys 

# TensorFlow for tf.keras
tensorflow==2.13.0  # Ensure compatibility with transformers and BERT models

# Torch and Transformers (Hugging Face)
torch==2.0.1
transformers==4.34.0

# Scikit-Learn for model training and evaluation
scikit-learn==1.1.3

# Streamlit for building web applications
streamlit==1.25.0

# Natural Language Processing (NLTK)
nltk==3.8.1

# Google API Client for interacting with Google services
google-api-python-client==2.90.0

# Python Dotenv for environment variables
python-dotenv==1.0.0

# PIL (Pillow) for image processing
Pillow==9.3.0

# Googletrans for translation
googletrans==4.0.0rc1
